<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Add User</title>
</head>
<body>
	<h1>New User</h1>
	<form action='/users' method='post'>
		<p>
			<label for="first_name">First Name</label>
			<input type="text" id="first_name" name="first_name">
		</p>
		<p>
			<label for="last_name">Last Name</label>
			<input type="text" id="last_name" name="last_name">
		</p>
		<input type="submit" value="Create New User">
	</form>
</body>
</html>